<div class="d-flex justify-content-center  ">
  <div class="back  w-50 p-5 rounded-5">
    <div class="my-3 fs-2 fw-semibold text-center">{{ 'Change Password' | translate }}</div>
    <form  [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)"  class="row g-3">
      <p *ngIf="loginMessageError" class="alert alert-danger">{{loginMessageError}}</p>

      <div class="col-md-12">
        <label for="current_password">{{ 'Current Password' | translate }}</label>
        <input type="text" id="current_password" formControlName="current_password" class="form-control my-3">
        <div *ngIf="loginForm.get('current_password')&& loginForm.get('current_password')?.touched">
        <p *ngIf="loginForm.get('current_password')?.getError('required')" class="text-danger">{{ 'current password is Required' | translate }}</p>
        <p *ngIf="loginForm.get('current_password')?.getError('pattern')" class="text-danger">{{ 'current password should be Minimum eight characters' | translate }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <label for="password" >{{ 'New Password' | translate }}</label>
        <input type="text" id="new_password" formControlName="new_password" class="form-control my-3">
        <div *ngIf="loginForm.get('new_password')&& loginForm.get('new_password')?.touched">
        <p *ngIf="loginForm.get('new_password')?.getError('required')" class="text-danger">{{ 'New Password is Required' | translate }}</p>
        <p *ngIf="loginForm.get('new_password')?.getError('pattern')" class="text-danger">{{ 'New Password should be Minimum eight characters' | translate }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <label for="confirmed_password">{{ 'Confirm Password' | translate }}</label>
        <input type="text" id="confirmed_password" formControlName="confirmed_password" class="form-control my-3">
        <div *ngIf="loginForm.get('confirmed_password')&& loginForm.get('confirmed_password')?.touched">
        <p *ngIf="loginForm.get('confirmed_password')?.getError('required')" class="text-danger">{{ 'Confirm Password is Required' | translate }}</p>
        <!-- <p *ngIf="loginForm.get('new_password')?.getError('required')" class="text-danger">{{ 'New Password is Required' | translate }}</p> -->
       
        <small
          *ngIf="loginForm.errors&& loginForm.get('confirmed_password')?.touched"
          class="text-danger"
          >  {{ 'Confirm Password missmatch' | translate }}</small
        >

        </div>


      </div>
      <div class=" col-12 text-center">
        <button  [disabled]="loginForm.invalid" type="submit" class="px-4 py-2 rounded-pill btn btn-primary button main">{{ 'Change Password' | translate }}</button>
      </div>
    </form>
  </div>
</div>
