<div class="container ">
  <h1 class="mt-3">{{deptname}}</h1>
  <p class="mx-4">{{department?.desc}} </p>
  <h3 class="mt-4">  {{ 'Head of department' | translate }}</h3>
  <span  role="button" (click)="openProfile(department?.head_id)" class="mt-1 mx-4 fs-5">{{department?.head}}</span>
  <section class="d-flex justify-content-between">
    <div>

      <div class="mt-3 fs-3 fw-semibold">
         {{ 'Professors' | translate }}
      </div>
      <ul class="" *ngFor="let professor of department?.professor_names">
        <li role="button" (click)="openProfile(professor.User_id)">{{professor.User_name}}</li>
      </ul>
    </div>
    <div>
      <div class="mt-3 fs-3 fw-semibold">
         {{ 'Teaching Assistant' | translate }}
      </div>
      <ul class="" *ngFor="let professor of department?.ta_names">
        <li role="button" (click)="openProfile(professor.User_id)">{{professor.User_name}}</li>
      </ul>
    </div>
    <div>
      <div class="mt-3 fs-3 fw-semibold">
         {{ 'Secretary' | translate }}
      </div>
      <ul class="" *ngFor="let professor of department?.secretary_names">
        <li role="button" (click)="openProfile(professor.User_id)">{{professor.User_name}}</li>
      </ul>
    </div>

  </section>
  <section>
    <div class="mt-3 fs-3 fw-semibold">
       {{ 'Courses' | translate }}
    </div>
    <ul class="" *ngFor="let professor of department?.course_names">
      <li role="button" (click)="openCourse(professor.course_id)">{{professor.course_name}}</li>
    </ul>
  </section>
  <h3 class="mt-4">  {{ 'Booklet File' | translate }}</h3>
     <div  class="border-2  form-control w-25" *ngIf="!this?.deptBooklet?.endsWith('media')">
      <a  class="text-decoration-none mainfntclr" [href]="department?.bookletURL" target="_blank">{{this?.deptBooklet}}</a>
  </div>
  <h3 class="mt-4">  {{ 'Bylaw File' | translate }}</h3>
 <div  class="border-2  form-control w-25" *ngIf="!this?.deptBylaw?.endsWith('media')">
        <a  class="text-decoration-none mainfntclr" [href]="department?.bylawURL" target="_blank">{{this?.deptBylaw}}</a>
    </div>

  <div class="chart-container h-100 w-100">
    <canvas class="h-100 w-100" id="bar">{{ chart }}</canvas>
  </div>
  <div class="chart-container h-100 w-100">
    <canvas class="h-100 w-100" id="bar2">{{ chart }}</canvas>
  </div>
</div>
