<div class="mt-5">
  <h2 class="text-center"> {{ 'All Secondment Requests' | translate }}</h2>
  <div
    *ngFor="let secondment of all; let in = index"
  >
   <div
   class="container border border-2 borderclr bg-light rounded-3 my-4"
   *ngIf="secondment.Secondment?.status === 'Pending'&& !noPendingPage">

    <div
    class="modal fade"
    [attr.id]="'exampleModal' + in"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title fs-5"
            *ngIf="modaltype"
            id="exampleModalLabel"
          >
            {{ 'Accept request' | translate }}
          </h1>
          <h1
            class="modal-title fs-5"
            *ngIf="!modaltype"
            id="exampleModalLabel"
          >
              {{ 'Reject request' | translate }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div *ngIf="modaltype" class="modal-body">
           {{ 'Are you sure you want to accept?' | translate }}
        </div>
        <div *ngIf="!modaltype" class="modal-body">
           {{ 'Are you sure you want to reject?' | translate }}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
             {{ 'Cancel' | translate }}
          </button>
          <button
            type="button "
            *ngIf="modaltype"
            class="btn btn-success"
            data-bs-dismiss="modal"
            (click)="acceptRequest(secondment.Secondment?.id)"
          >
             {{ 'Accept' | translate }}
          </button>
          <button
          type="button"
           *ngIf="!modaltype"
           data-bs-dismiss="modal"
            class="btn btn-danger"
            (click)="rejectRequest(secondment.Secondment?.id)"
            >
             {{ 'Reject' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="all d-flex flex-column pt-5" role="button">
    <div class="w-100">
      <div class="row text-center">
        <div class="col-md-4 my-2">
          <span class="fw-bold"> {{ 'Full Name:' | translate }}</span> {{secondment.full_name}}
        </div>
        <div class="col-md-4 my-2">
          <span class="fw-bold"> {{ 'Type:' | translate }}</span> {{ secondment.Secondment?.type }}
        </div>
        <div class="col-md-4 mb-4 my-2">
          <button
            class="btn button btn-primary main border"
            (click)="show(secondment, in)"
          >
          {{ 'show:' | translate }} {{ secondment.value ? "less" : "more" }}
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="secondment.value"
      ><div class="text-center">
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Phone Number' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.phone_number }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Start date' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.start_date }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'End date' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.end_date }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Description' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.description }}</div>
        </div>
      </div>
      <div class="row justify-content-around text-center my-3">
        <div class="col-6">
          <button
            class="btn btn-success px-4 py-2"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#exampleModal' + in"
            (click)="changemodal(true)"
          >
             {{ 'Accept' | translate }}
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-danger px-4 py-2"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#exampleModal' + in"
            (click)="changemodal(false)"
          >
             {{ 'Reject' | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
   </div>
<div
class="container border border-2 borderclr bg-light rounded-3 my-4"
*ngIf="secondment.Secondment?.status !='Pending'&& noPendingPage "
>
  <div class="all d-flex flex-column pt-5" role="button">
    <div class="w-100">
      <div class="row text-center">
        <div class="col-md-3 my-2">
          <span class="fw-bold"> {{ 'Full Name:' | translate }}</span> {{secondment.full_name}}
        </div>
        <div class="col-md-3 my-2">
          <span class="fw-bold"> {{ 'Type:' | translate }}</span> {{ secondment.Secondment?.type }}
        </div>
        <div class="col-md-3 my-2">
          <span class="fw-bold"> {{ 'Status:' | translate }}</span> {{ secondment.Secondment?.status }}
        </div>
        <div class="col-md-3 mb-4 my-2">
          <button
            class="btn button btn-primary main border"
            (click)="show(secondment, in)"
          >
            {{ 'show:' | translate }} {{ secondment.value ? "less" : "more" }}
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="secondment.value"
      ><div class="text-center">
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Phone Number' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.phone_number }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Start date' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.start_date }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'End date' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.end_date }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Description' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4 my-3">{{ secondmentPart?.description }}</div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'View As Pdf ' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4">
            <button (click)="viewPDF(secondment.Secondment?.id)" class="button btn main text-white">{{'View'|translate}}</button>

          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-4 my-3"> {{ 'Download As Pdf ' | translate }}</div>
          <div class="col-md-4">:</div>
          <div class="col-md-4">
            <button (click)="downloadPdf(secondment.Secondment?.id,secondment.full_name,secondment.Secondment?.created_at)" class="button btn main text-white">{{'Download'|translate}}</button>

          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>

  </div>

    <div
    class="alert
     alert-danger
     text-center
     "
     *ngIf="checkAllItemsNotPending()&& !noPendingPage"
    >
      <h2> {{ 'There is No Pending Requests! Show All Requests??' | translate }}</h2>
      <button class="btn button btn-primary main border px-3 py-2 mt-2 " (click)="panel()"> {{ 'All Requests' | translate }}</button>
    </div>



</div>
