.logo{
  width: 60px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.fcai{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;

}
.cu{
  font-size: 15px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.profileImage{
  width: 45px !important;
  height: 45px !important;
}
